#root {
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0 2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 67.77px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0 0;
}

header a {
  color: inherit;
  text-decoration: none;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 48px;
}

header nav ul li a {
  font-weight: 400;
  display: block;
  margin-top: 4px;
  padding-bottom: 4px;
}

header nav ul li a.active {
  font-weight: 600;
  border-bottom: 2px solid var(--teal);
}

.truncate {
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-in {
  animation: fadeIn ease 250ms;
  -webkit-animation: fadeIn ease 250ms;
  -moz-animation: fadeIn ease 250ms;
  -o-animation: fadeIn ease 250ms;
  -ms-animation: fadeIn ease 250ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 0 1rem;
    margin: 1rem auto 6rem;
  }

  header {
    margin: 2em 0 4em;
  }
}
