:root {
  font-family: sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #f9f7e8;
  background-color: #1b1d1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.23563rem;
  font-weight: 700;
  line-height: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b1d1c;
    background-color: #f3f3f3;
  }
}
