:root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;

  --black: #1b1d1c;
  --white: #f9f7e8;
  --dark-white: #efe8d8;
  --gray: #f3f3f3;
  --green: #17c47c;
  --teal: #61bfad;
  --red: #e54b4b;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--gray);
  }
}
