.movie-poster-and-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.movie-poster-and-rating {
  margin-right: 128px;
}

.movie-poster-and-rating > div {
  width: 348px;
  position: relative;
}

.movie-poster-and-rating img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-poster-and-rating img.blur {
  filter: blur(32px) saturate(300%);
}

.movie-poster-and-rating img.poster {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* border: 1px solid var(--white-dim); */
}

.movie-info h2 {
  margin-top: -18px;
}

.movie-info p {
  margin-bottom: 3em;
  /* width: 65ch; */
}

.movie-info-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3em 0;
}

.movie-info-metadata {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-info-metadata span,
.movie-info-trailer-link {
  display: block;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--dark-white);
  margin-right: 24px;
}

.movie-info-trailer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
}

.movie-info-trailer-link svg {
  margin-right: 8px;
}

.movie-watch {
  margin-top: 48px;
}

.movie-info-imdb-rating a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.movie-info-imdb-rating svg {
  margin-right: 8px;
}

.movie-info-imdb-rating span:first-of-type {
  font-size: 24px;
  font-weight: 500;
}

.movie-info-watch-providers {
  margin-top: 6em;
}

.movie-info-watch-providers ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-info-watch-provider {
  width: calc(100% / 6);
  margin: 0 8px 16px 0;
}

.movie-info-watch-provider img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6); */
  filter: grayscale(90%) contrast(120%) brightness(90%) opacity(80%);
}

.movie-info-credits-crew ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0;
}

.movie-info-credits-crew span:first-of-type {
  font-weight: 600;
}

.movie-info-credits-crew-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
  width: 112px;
}

.movie-info-credits-crew-member span:first-child {
  margin-bottom: 8px;
}

.movie-info-credits-cast ul {
  padding-top: 24px;
  border-top: 2px solid var(--dark-white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-info-credits-cast img {
  display: block;
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--dark-white);
  margin-bottom: 8px;
  filter: grayscale(80%) contrast(120%) brightness(90%) opacity(80%);
}

.movie-info-credits-cast span:first-of-type {
  font-weight: 600;
}

.movie-info-credits-cast-member {
  margin: 0 48px 48px 0;
  width: 96px;
}

.movie-info-credits-cast-member a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-info-credits-cast-member:last-of-type {
  margin-right: 0;
}

.movie-info-similar {
  margin-top: 6em;
}

.movie-info-similar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
}

.movie-info-similar-movie {
  margin: 0 16px 16px 0;
}

.movie-info-similar-movie img {
  display: block;
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
  /* border: 1px solid var(--dark-white); */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
  filter: grayscale(100%) contrast(120%) brightness(90%) opacity(30%);
  transition: filter 0.2s ease-in-out;
}

.movie-info-similar-movie img:hover {
  filter: none;
}

.just-watch {
  display: block;
  margin-top: 8px;
  opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
  .movie-info-metadata span,
  .movie-info-details > a {
    background-color: transparent;
    border: 1px solid var(--white-dim);
  }

  .movie-info-credits-cast img {
    border: 2px solid var(--white-dim);
    filter: grayscale(90%) contrast(120%) brightness(80%) opacity(80%);
  }

  .movie-info-credits-cast ul {
    border-top: 2px solid var(--white-dim);
  }
}

@media (max-width: 768px) {
  .movie-poster-and-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-poster-and-rating {
    margin-right: 0;
  }

  .movie-info h2 {
    text-align: center;
    font-size: 48px;
  }

  .movie-poster-and-rating > div {
    width: 300px;
    margin-bottom: 24px;
  }

  .movie-info-imdb-rating {
    justify-content: center;
    margin-right: 0;
  }

  .movie-info-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 24px 0;
  }

  .movie-info-metadata {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .movie-info-metadata span {
    margin: 0 8px 8px 0;
  }

  .movie-info-details > div:first-of-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .movie-info-trailer-link {
    margin: 24px auto;
  }

  .movie-info-watch-providers {
    margin-top: 3em;
    display: none;
  }

  .movie-info-watch-providers ul {
    justify-content: flex-start;
    align-content: center;
  }

  .movie-info-watch-provider {
    width: 48px;
    margin: 0 8px 16px 0;
  }

  .movie-info-credits-crew ul {
    justify-content: center;
  }

  .movie-info-credits-crew-member {
    margin: 0;
  }

  .movie-info-credits-cast ul {
    justify-content: center;
  }

  .movie-info-credits-cast-member {
    margin: 24px 8px;
    flex: 1 1 calc(50% - 24px);
  }

  .movie-info-similar {
    margin-top: 3em;
  }

  .movie-info-similar ul {
    justify-content: center;
  }

  .movie-info-similar-movie {
    width: calc(50% - 16px);
    margin: 0 8px 8px 0;
  }

  .movie-info-similar-movie img {
    width: 100%;
    height: auto;
  }

  .movie-info-similar-movie img:hover {
    transform: none;
  }

  .just-watch {
    text-align: center;
  }
}
