#movie-page .movie-poster-and-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.movie-poster {
  overflow: hidden;
  width: fit-content;
  width: 348px;
  border-radius: 10px;
}

.movie-info {
  width: 635px;
}

.movie-info p {
  /* width: 99%; */
  margin-bottom: 24px;
  text-align: justify;
}

.movie-poster img {
  display: block;
  width: 100%;
  height: auto;
}

.streaming-links {
  height: 64px;
  background-color: var(--teal);
  padding: 8px 90px;
  color: var(--white);
}

.movie-info-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.movie-info-details > span,
.movie-info-details > a {
  display: block;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--dark-white);
  margin-right: 24px;
}

.movie-info-details a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
}

.movie-info-details a svg {
  margin-right: 8px;
}

.movie-info-imdb-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.movie-info-imdb-rating svg {
  margin-right: 8px;
}

.movie-info-imdb-rating span:first-of-type {
  font-size: 24px;
  font-weight: 500;
}

.movie-info-credits-crew ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.movie-info-credits-crew span:first-of-type {
  font-weight: 600;
}

.movie-info-credits-crew-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.movie-info-credits-crew-member span:first-child {
  margin-bottom: 8px;
}

.movie-info-credits-cast ul {
  padding-top: 24px;
  border-top: 2px solid var(--dark-white);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-info-credits-cast img {
  display: block;
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--dark-white);
}

.movie-info-credits-cast span:first-of-type {
  font-weight: 600;
}

.movie-info-credits-cast-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.movie-info-credits-cast-member:last-of-type {
  margin-right: 0;
}
