#start-page h2 {
  /* font-size: 48px; */
}

.movies-now-playing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  padding: 16px 0;
  /* flex-wrap: wrap; */
}

.movie-now-playing {
  flex: 1 0 25%;
  padding: 0 8px;
}

.movie-now-playing a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.movie-now-playing img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
  filter: brightness(75%) opacity(0.95);
  transition: filter 400ms ease-in-out, transform 200ms ease-in-out;
}

.movie-now-playing img:hover {
  filter: none;
  transform: scale(1.025);
}

@media (max-width: 768px) {
  #start-page h2 {
    font-size: 48px;
  }

  .movies-now-playing {
    flex-wrap: wrap;
  }

  .movie-now-playing {
    flex: 1 1 50%;
    margin: 0 0 16px 0;
  }

  .movies-now-playing img {
    /* height: 200px; */
  }
}
