:root {
  font-family: sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

h1,
h2,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

hr {
  width: 3em;
  height: 3px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.87);
  margin-left: 0;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
}

.larger {
  font-size: 2em;
}

.movie-poster {
  width: 150px;
  height: 250px;
  margin: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  transition: transform 150ms;
}

.movie-poster:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  hr {
    background-color: #213547;
  }
}
